<div class="example-container" [class.is-mobile]="mobileQuery.matches">
  <mat-toolbar class="header-container" color="primary">
    <button mat-icon-button color="basic" (click)="sidenav.toggle()" aria-label="Toggle menu">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="title">Google Gemini with Angular POC</span>
  </mat-toolbar>

  <mat-sidenav-container class="content-container" [style.margin-top.px]="mobileQuery.matches ? -3 : 0">
    <mat-sidenav #sidenav
                 [mode]="mobileQuery.matches ? 'over' : 'side'"
                 opened
                 class="sidenav-container"
                 [fixedInViewport]="mobileQuery.matches"
                 [fixedTopGap]="56"
                 [fixedBottomGap]="0">
      <div class="sidenav-items">
        @if (isApiKeyStored) {
          <button mat-button (click)="clearApiKey()">Clear API Key</button>
        }
        <button mat-button>Add image</button>
        <button mat-button>Add drawing canvas</button>
      </div>

    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
