.response {
  font-weight: bold;


}
.code, .inline-code {
  font-family: source-code-pro, Menlo, Monaco, "Courier New", Courier, monospace;
}

.inline-code {
  background-color: rgba(0, 0, 0, .1);
  padding: 1px;
}
